<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Import style -->
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <!-- Import Vue 3 -->
    <script src="//unpkg.com/vue@3"></script>
    <!-- Import component library -->
    <script src="//unpkg.com/element-plus"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Demo</title>
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>
<body>
    <div id="app" class="element-main" v-cloak>
        @RenderBody()
    </div>
</body>
@await RenderSectionAsync("scripts", required: false)
</html>
